@import './base.css';
@import 'tailwindcss';

@theme {
  --color-background: #f8fafc;
  --color-foreground: #18181b;
  --color-card: #ffffff;
  --color-card-foreground: #18181b;
  --color-popover: #ffffff;
  --color-popover-foreground: #18181b;
  --color-primary: #1e6eb4;
  --color-primary-foreground: #f8fafc;
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #1e6eb4;
  --color-muted: #e9f9fd;
  --color-muted-foreground: #71717a;
  --color-accent: #f1f5f9;
  --color-accent-foreground: #1e6eb4;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  --color-border: #e2e8f0;
  --color-input: #ffffff;
  --color-ring: #1e6eb4;
  --color-rating: #facc15;
  --color-chart-1: #91c5ff;
  --color-chart-2: #3a81f6;
  --color-chart-3: #2563ef;
  --color-chart-4: #1a4eda;
  --color-chart-5: #1f3fad;
  --color-sidebar: #f4f4f5;
  --color-sidebar-foreground: #3f3f46;
  --color-sidebar-primary: #1e6eb4;
  --color-sidebar-primary-foreground: #3f3f46;
  --color-sidebar-accent: #f1f5f9;
  --color-sidebar-accent-foreground: #18181b;
  --color-sidebar-border: #e4e4e7;
  --color-sidebar-ring: #e4e4e7;
  --color-base: #f8fafc;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
